@import "tailwindcss";
/* @import "tw-animate-css"; */



/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* custom color */

/* ✅ Define custom theme colors using Tailwind v4 syntax */
@theme {
  --color-primary: #101AC9;
  --color-secondary: #1055C9;
  --color-accent: #10B981;
  --color-background: #108FC9;
}


